.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
.link-button{
    color: white;
    padding: 10px 20px;
    background-color: tomato;
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold;
}
section{
    height: 600px;
    padding-bottom: 150px;
}
body{
    margin: 0px;
    background-color: dimgray;
}
.orange-highlight{
    color: orange;
}
.white-highlight{
    color: white;
}
#middle{
    text-align: center;
}
.colum{
    float: left;
    border: 1px solid;
    width: 10%;
    
}
